<header class="d-flex justify-content-between align-items-center my-3">
    <div class="navbar-brand d-flex align-items-center">
        <a asp-controller="Home" asp-action="Principal"><span class="logo-text">Puppy<span style="color: #ff6f61;">B<span style="font-size: 1.5em;">🐾</span>ND</span></span></a>
    </div>
    <div>
        <a href="/Usuario/Register" class="btn btn-primary mx-2">Crear Cuenta</a>
        <a href="/Usuario/Login" class="btn btn-secondary">Iniciar Sesión</a>
    </div>
</header>