<header class="navbar navbar-expand bg-white border-bottom box-shadow">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- Logo -->
        <div class="navbar-brand d-flex align-items-center">
            <a asp-controller="Home" asp-action="Principal"><span class="logo-text">Puppy<span style="color: #ff6f61;">B<span style="font-size: 1.5em;">🐾</span>ND</span></span></a>
        </div>

        <!-- Barra de búsqueda -->
        <div class="search-bar d-flex align-items-center flex-grow-1 mx-3">
            <input type="search" class="form-control" placeholder="Buscar" />
        </div>

        <!-- Iconos -->
        <div class="icons d-flex">
            <span class="icon-link mx-2" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-html="true" data-bs-content="Cargando..." aria-label="Notificaciones">🔔</span>
            <a asp-controller="Mensajes" asp-action="Index" class="icon-link mx-2" aria-label="Mensajes">💬</a>
            <span class="icon-link mx-2" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-html="true" data-bs-content="
                    <p><a>Mi mascota</a></p>
                    <p><a>Mis datos</a></p>
                    <p><a>ℹ️ ¿Necesitas ayuda?</a></p>
                    <p><a href='/Usuario/Logout'>🚪 Cerrar sesión</a></p>
            " aria-label="Perfil">👤</span>
        </div>
    </div>
</header>

<script defer>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    popoverTriggerList[1] = new bootstrap.Popover(popoverTriggerList[1]);
    fetch("/Notificacion/Obtener").then(response => response.json()).then(data => {
        const notifs = [];
        for (msg of data) {
            let contenido = "";
            if (msg.mensaje != null) {
                contenido = "Tienes un mensaje de:<br>" + msg.mensaje.emailUsuarioEnvia;
            }
            else if (msg.MatchEnvia != null) {
                contenido = "Solicitud de amistad<br>" + msg.contenido;
            }
            else {
                contenido = msg.contenido;
            }

            notifs.push(contenido);
        }
        const popoverContent = `
                ${notifs.map(ntf => `<p><a>${ntf}</a></p><hr>`).join("")}
        `;
        popoverTriggerList[0].setAttribute("data-bs-content", popoverContent);

        popoverTriggerList[0] = new bootstrap.Popover(popoverTriggerList[0]);
    });
</script>