<header class="navbar navbar-expand bg-white border-bottom box-shadow">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- Logo -->
        <div class="navbar-brand d-flex align-items-center">
            <a asp-controller="Home" asp-action="Principal"><span class="logo-text">Puppy<span style="color: #ff6f61;">B<span style="font-size: 1.5em;">🐾</span>ND</span></span></a>
        </div>

        <!-- Barra de búsqueda -->
        <div class="search-bar d-flex align-items-center flex-grow-1 mx-3">
            <input type="search" class="form-control" placeholder="Buscar" />
        </div>

        <!-- Iconos -->
        <div class="icons d-flex">
            <a href="#" class="icon-link mx-2" aria-label="Notificaciones">🔔</a>
            <a asp-controller="Mensajes" asp-action="Index" class="icon-link mx-2" aria-label="Mensajes">💬</a>
            <a asp-controller="Mensajes" asp-action="Index" class="icon-link mx-2" aria-label="Mensajes">👤</a>

            <a href="#" class="icon-link mx-2" aria-label="Perfil"></a>
        </div>
    </div>
</header>