@model IEnumerable<TestGen.ApplicationCore.EN.DSM.UsuarioEN>
@{
    ViewData["Title"] = "PuppyBond";
}

@using Microsoft.AspNetCore.Http

@{
    UsuarioViewModel usuario = Context.Session.Get<UsuarioViewModel>("usuario");
}

@if (usuario != null)
{
    <script>
        // Si ya se ha iniciado sesion, redirige a otra pagina
        const url = "@Url.Action("Index2", "Mascota")"; //Pagina a la que redirecciona si ya se ha iniciado sesion
        location.href = url;
    </script>
}

<div class="text-center">
    <!-- Logo de la página -->
    <img src="imgs/logo.jpeg" alt="PuppyBond Logo" style="margin-bottom: 20px;" />
    <h1 class="display-4">PUPPY<span style="color: #FF69B4;">B<span style="font-size: 30px;">🐾</span>ND</span></h1>

    <!-- Botones principales -->
    <div style="margin-top: 30px;">
        <button onclick="window.location.href='@Url.Action("Index", "Mascota")'" class="btn btn-primary btn-lg" style="margin: 5px; background-color: #253B59; border: 2px solid #253B59;">Sin Registro</button>
        <button onclick="window.location.href='@Url.Action("Register", "Usuario")'" class="btn btn-primary btn-lg" style="margin: 5px; background-color: #253B59; border: 2px solid #253B59;">Crear Cuenta</button>
    </div>
</div>

