@model IEnumerable<MascotaViewModel>

@{
    ViewData["Title"] = "PuppyBond";
}

<div class="container">

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <!--TODO: QUITAR ESTO Y PONER PRIMER ELEMENTO ACTIVE Y QUITAR AUTOPLAY-->
            <!--TODO: AJUSTAR TAMANYO IMAGEN-->
            <div class="carousel-item active">
                <img src="https://cdn.leonardo.ai/users/190c8fc4-abe6-49e9-b68e-b51dfe9e27fc/generations/18530c74-ae15-45a1-b9e3-eec9aab59ad0/Leonardo_Phoenix_Create_an_image_that_showcases_a_fun_and_vibr_2.jpg" class="d-block w-100" alt="...">
            </div>
            @foreach (var item in Model)
            {
                <div class="carousel-item">
                    <img src="/imgs/@(item.Id + ".png")" alt="Imagen de @item.Name" class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@item.Name</h5>
                        <p>@item.Descripcion</p>
                    </div>
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Carrusel de perros -->
    <div class="text-center">
        <div class="d-flex justify-content-center align-items-center">
            <div class="dog-card mx-3">

                <!-- Iconos de acción -->
                <div class="actions d-flex justify-content-around" style="margin: 10px;">
                    <button onclick="mostrarMensaje('No has iniciado sesión', 'Inicia sesión o crea una cuenta para continuar.', 'info');" class="btn btn-outline-danger" aria-label="Eliminar">❌</button>
                    <button onclick="mostrarMensaje('No has iniciado sesión', 'Inicia sesión o crea una cuenta para continuar.', 'info');" class="btn btn-outline-primary" aria-label="Adoptar">🐾</button>
                    <button onclick="mostrarMensaje('No has iniciado sesión', 'Inicia sesión o crea una cuenta para continuar.', 'info');" class="btn btn-outline-info" aria-label="Información">ℹ</button>
                </div>
            </div>
        </div>
    </div>
</div>
